<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :value => "" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :main_location_id %>
	<%= f.collection_select :main_location_id, @admin_locations,
						  :id, :name, { :include_blank => 'Choose main location' } if @admin_locations %>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


